<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Produkt Entwicklung</title>
</head>
<body>
<meta http-equiv="refresh" content="10; URL=">

<div style="text-align: center;margin-top: 141px;">
    <label class="form-label" style="font-size: 53px;font-family: 'Abril Fatface', serif;color: rgb(17,174,174);">Patient
        Nummer</label>
</div>

<div style="text-align: center;margin-top: -5px;">
    <label class="form-label" style="font-size: 110px;font-family: 'Abril Fatface', serif;">{{ patient.firstname }} {{ patient.lastname }}</label>
</div>


<div style="text-align: center;margin-top: -5px;">
    <label class="form-label" style="font-size: 105px;font-family: 'Abril Fatface', serif;">{{ patient.id }}</label>
</div>


<div style="margin-right: auto;margin-left: auto;text-align: center;margin-top: 15px;">
    <i class="fas fa-circle" tyle="margin-right: auto;margin-left: auto;font-size: 132px;color: rgb(255,0,0);">

</i>
    <i class="fas fa-circle" style="margin-right: auto;margin-left: auto;font-size: 132px;color: rgb(234,141,1);"></i>
</div>


</body>
