{% extends 'layouts/nav.html' %}

{% block content %}
    <div style="margin-bottom: 126px;">
        <div id="myModal">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header" style="width: 341px;">
                        <h4 class="h4 modal-title" style="width: 372px;">Notfälle</h4>
                    </div>
                </div>
            </div>
            <div class="container py-5">
                <div class="row">
                    </p>
                    <div class="col-lg-10 mx-auto bg-white rounded shadow">
                        <!-- Fixed header table-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="col-3">Patient ID</th>
                                    <th scope="col" class="col-3">Entlassen</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for emerg in emeges %}
                                    <tr class="mb-5">
                                        <th scope="row" class="col-3">{{ emerg }}</th>
                                        <td class="col-3">
                                            <a class="btn btn-primary" href="/remove_emerg/{{ emerg.case_id }}">Entlassen</a>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div><!-- End -->

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}