{% extends 'layouts/nav.html' %}

{% block content %}
<div style="margin-bottom: 126px;">
    <div id="myModal">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="h4 modal-title">Mitarbeiter Einloggen</h4>
                </div>
                <div class="modal-body">
                    <form action="confirmation" method="post">
                        <div class="form-group"><i class="fa fa-star fa-user"></i>
                            <input class="form-control"
                                   type="text"
                                   placeholder="E-Mail"
                                   required="required"
                                   style="margin-top: 20px;">
                        </div>
                        <div class="form-group"><i class="fa fa-star fa-lock"></i>
                            <input class="form-control"
                                                                                         type="password"
                                                                                         placeholder="Passwort"
                                                                                         required="required"
                                                                                         style="margin-top: 20px;">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block btn-lg" type="submit" value="Login"
                                    style="margin-top: 20px;">Einloggen
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="margin-top: 20px;">
                    <p>Passwort Vergessen? Bitte den Support kontaktieren</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}