{% extends 'layouts/nav.html' %}

{% block content %}


    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto bg-white rounded shadow">

                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>

                        <tr>
                            <th scope="col" class="col-5">Name</th>
                            <th scope="col" class="col-5">Beschreibung</th>
                        </tr>

                        <!-- Body start -->
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="col-5">Vorname</th>
                            <td class="col-5">{{ patient.firstname }}</td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Nachname</th>
                            <td class="col-5">{{ patient.lastname }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-5">Versicherungsnummer</th>
                            <td class="col-5">{{ patient.ins_nr }}</td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Angina</th>
                            <td class="col-5">{% if patient.exercise_angina %}
                                Ja
                            {% else %}
                                Nein
                            {% endif %}
                            </td>

                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Herzkrankheit</th>
                            <td class="col-5">{% if patient.heart_disease %}
                                Ja
                            {% else %}
                                Nein
                            {% endif %}
                            </td>

                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Hochblutdruck</th>
                            <td class="col-5">{% if patient.hypertension %}
                                Ja
                            {% else %}
                                Nein
                            {% endif %}
                            </td>

                        </tr>


                        <tr>
                            <th scope="row" class="col-5">Brustschmerzengrad</th>
                            <td class="col-5">{{ patient.chest_pain_type }} </td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Blutdruck</th>
                            <td class="col-5">{{ patient.blood_pressure }} mmHg</td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Herzfrequfenz</th>
                            <td class="col-5">{{ patient.max_heart_rate }} Schlag pro Minute</td>
                        </tr>


                        <tr>
                            <th scope="row" class="col-5">Plasmaglukose</th>
                            <td class="col-5">{{ patient.plasma_glucose }} mg/dl</td>
                        </tr>


                        <tr>
                            <th scope="row" class="col-5">BMI</th>
                            <td class="col-5">{{ patient.bmi }} kg/m^2</td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Diabetes Stammbaum</th>
                            <td class="col-5">{{ patient.diabetes_pedigree }} </td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Cholesterin</th>
                            <td class="col-5">{{ patient.cholesterol }} mg/dl</td>
                        </tr>

                        <tr>
                            <th scope="row" class="col-5">Aufnahme</th>
                            <td class="col-5">
                                <button class="btn btn-success">Aufnehmen</button>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div><!-- End -->

            </div>
        </div>
    </div>

{% endblock %}