{% extends 'layouts/nav.html' %}

{% block content %}
    <div>
        <div class="col-md-12 search-table-col"><span class="counter pull-right"></span>
            <div class="table-responsive table table-hover table-bordered results">
                <table class="table table-hover table-bordered">
                    <thead class="bill-header cs">
                    <tr>
                        <th>Pat. Nr</th>
                        <th>Versicherungsnumer</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.id }}</td>
                            <td><a href="patient/{{ patient.ins_nr }}">{{ patient.ins_nr }}</a></td>
                            <td>{{ patient.firstname }}</td>
                            <td>{{ patient.lastname }}</td>
                            <td>
                                <button class="btn btn-success" style="margin-left: 5px;" type="submit">
                                    <i class="fa fa-check" style="font-size: 15px;">D</i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}